<h1> Indice </h1>

<h3><a href="/filters"> Filtros </a></h3>
<h3><a href="/appartments/analysis"> Departamentos </a></h3>
<h3><a href="/appartments/map"> Mapa </a></h3>
<h3><a href="/appartments"> Departamentos (admin) </a></h3>
