<p id="notice"><%= notice %></p>
<h2>
  <a href="/"> Inicio </a> -
  <a href="/appartments/analysis"> Analizar </a> -
  <a href="/appartments/liked"> Pre-Aprobados </a> -
  <a href="/appartments/sold"> Vendidos </a>
</h2>

<h1>Departamentos</h1>

<%= render 'table' %>
