<p id="notice"><%= notice %></p>
<h2>
  <a href="/"> Inicio </a> -
  <a href="/appartments/analysis/map"> Analizar </a> -
  <a href="/appartments/liked/map"> Pre-Aprobados </a> -
  <a href="/appartments/rejected/map"> Rechazados </a>
</h2>

<%= render 'map' %>
