<p id="notice"><%= notice %></p>
<h2>
  <a href="/"> Inicio </a> -
  <a href="/appartments/analysis/map"> Analizar </a> -
  <a href="/appartments/rejected/map"> Rechazados </a> -
  <a href="/appartments/sold/map"> Vendidos </a>
</h2>

<%= render 'map' %>
